@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Quicksand:100,200,300,400,500,600,700');


/*........................................Avatar*/
.avatar {
    vertical-align: middle;
    width: 200px;
    height:200px;
    border-radius: 50%;
    border: 30px solid #ff594938;
    margin-top: 20px;
}

.name-title{
    font-family: 'Indie FLower'
   
    
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #21100e;
    
}

.avatar-icon{
    vertical-align: middle;
    width: 200px;
    height:200px;
    border-radius: 50%;
    border: 5px solid #ffffff;
    margin-top: 20px;
}

.avatar-icon2{
    vertical-align: middle;
    width: 150px;
    height:150px;
    margin: 50px;
    border-radius: 50%;
    border: 5px solid #ffffff;
    margin-bottom: 25px;
}


.container-fluid-auto {
    background-color: ;
    text-align: center;
    border-width: 0px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 100px;
    margin-left: 100px;
}

body{
    background-color: ;
}


.block-divider {
    border-radius: 10px;
    width: 100%;
    height: 5px;
    border: 0;
    background-color: #fbfbfb;
    padding-top: 10px;
    margin: 40px;
}


